
 /* Customized settings */
 body {
  background-color: #fff;
 }
 .welcome_login {
  justify-content: center;
}
.work2live_logo {
  width: 70%;
  margin: 0 auto;
}
.work2live_logo img, .navbar_logo img, .profile_img img {
  width: 100%;
  height: auto;
}
.welcome_register {
  margin: 10px 0;
}
.navbar_logo {
  width: 250px;
  height: auto;
}
.comment_form {
  margin-bottom: 30px;
}
.form-group {
  display: flex;
}
.fa-comment-dots {
  /* padding: 10px; */
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: #fae3e3;
  color: #d84c55;
  min-width: 50px;
  text-align: center;
  border-radius: 0.25rem 0 0 0.25rem;
}
.form-control {
  border: 1px solid #fae3e3;
  border-radius: 0 0.25rem 0.25rem 0;
  outline: none;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fae3e3;
  opacity: 1; /* Firefox */
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fae3e3;
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #fae3e3;
}
.red_btn {
  color: #fff;
  background-color: #d84c55;
  border-color: #d84c55;
}
.btn_align {
 position: relative;
 display: flex;
 justify-content: flex-end;
}
.review_card {
 position: relative;
 display: -webkit-box;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
         flex-direction: column;
 min-width: 0;
 word-wrap: break-word;
 background-color: #fff;
 background-clip: border-box;
}
.reviews_list {
 background-color: #f4f4f6;
 border-radius: 0.75rem;
 padding: 20px;
}
.review_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.innercard {
 background-color: #fff;
 border-radius: 0.75rem;
 padding: 20px;
 margin-bottom: 20px;
}
.profile_box {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.profile_img {
  width: 70px;
  height: 70px;
}
.profile_data {
  padding-left: 20px;
}
.profile_data h3 {
  margin-bottom: 0px;
}
.media-body p {
  margin-bottom: 0;
}
.toggle_btn {
  background-color: transparent;
  border: 0px;
}

