
 /* Customized settings */
 body {
  background-color: #fff;
 }
 .welcome_login {
  justify-content: center;
}
.work2live_logo {
  width: 70%;
  margin: 0 auto;
}
.work2live_logo img, .navbar_logo img, .profile_img img {
  width: 100%;
  height: auto;
}
.welcome_register {
  margin: 10px 0;
}
.navbar_logo {
  width: 250px;
  height: auto;
}
.comment_form {
  margin-bottom: 30px;
}
.form-control {
  border: 1px solid #fae3e3;
}
.red_btn {
  color: #fff;
  background-color: #d84c55;
  border-color: #d84c55;
}
.btn_align {
 position: relative;
 display: flex;
 justify-content: flex-end;
}
.review_card {
 position: relative;
 display: -webkit-box;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
         flex-direction: column;
 min-width: 0;
 word-wrap: break-word;
 background-color: #fff;
 background-clip: border-box;
}
.reviews_list {
 background-color: #f4f4f6;
 border-radius: 0.75rem;
 padding: 20px;
}
.reviews_list h1 {
  margin-bottom: 40px;
}
.innercard {
 background-color: #fff;
 border-radius: 0.75rem;
 padding: 20px;
 margin-bottom: 20px;
}
.profile_box {
  display: flex;
  margin-bottom: 10px;
}
.profile_img {
  width: 60px;
  height: 60px;
}
